* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
}

@font-face {
    font-family: "delius";
    src: url(../letras/Delius_Unicase/);
}

@font-face {
    font-family: "josefin";
    src: url(../letras/Josefin_Slab/JosefinSlab-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "pacifico";
    src: url(../letras/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: "poiret";
    src: url(../letras/Poiret_One/PoiretOne-Regular.ttf);
}

@font-face {
    font-family: "raleway";
    src: url(../letras/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "yellowtail";
    src: url(../letras/Yellowtail/Yellowtail-Regular.ttf);
}


body {
    background-image:url("../imagen/Narutooooooooo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position: center bottom;
    color: white;
}

.encabezado {
    display: flex; 
    align-items: center;
    justify-content: end;
    /* position: fixed; */
    z-index: 10;
    background:none;
    height: 4rem;
    width: 100%;
}

#logo {
    width: 5vw;
    height: 100%;
}

.listaNav .inicio {
color: #ff8400;
}
    
.inicio:hover{
color: rgb(130, 15, 15);
}

.listaNav {
    list-style: none;
    display: flex;
    /* padding: 10px 20px; */
}
    
.inicio:hover{
color: rgb(130, 15, 15);
}

.listaNav {
    list-style: none;
    display: flex;
    /* padding: 10px 20px; */
}

.listaNav a {
    font-family: "poiret";
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 2rem;
}

nav ul li a:hover {
    color: #ff8400;
}


.iconos {
    display: flex;
    margin-top: 5px;
}

.iconos a {
    margin: 0 10px;
    color: #ffff;
    font-size: 1.5rem;
}
.iconos a:hover {
    color: #ff8400; 
}

.separacion{
    margin-inline-end: 20px;
}

/* Menú */

.contenedor {
    margin-top: 3rem;
    /* margin-bottom: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    }

.contenedor-galeria .titulo-galeria {
    font-size: 1.5rem;
    text-align: center;
    font-family: "josefin";
}

.contenedor-galeria .galeria {
    width: 21rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    margin: 2rem;
    border: 6px double #fff;
    border-radius: 2%;
}

.contenedor-galeria .galeria img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.contenedor-galeria .galeria .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .2s ease;
    cursor: pointer;
}

.galeria:hover .capa {
    transform: scale(1);
}

.contenedor-galeria .capa p {
    font-size: 1.5rem;
    font-family: "yellowtail";
    letter-spacing: 1.5px;
    text-align: center;
}


footer {
    background-color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: #000000;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-columnas {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer-columnas h1 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #000000;
    color: #000000;
}

.footer-columnas ul li {
    font-size: 13px;
    color: #000000;
    margin-bottom: 15px;
    list-style: none;
}

.footer-container img {
    height: auto;
    width: 120px;
}

.final {
    font-size: 10px;
    color: #000000;
    margin-top: 10px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between; 
}

.main {
    flex-grow: 1;
}